@import "css/header.css";
@import "css/tabstrip.css";

/* ROKU  */
/*  *************************************   general   ********************************* */
html { margin: 0px; }
body
{
    font-family: Arial, Helvetica, Verdana, Sans-Serif;
    background-color: #FFFFFF;
    font-size: 12px;
    color: #333333;
    font-style: normal;
	margin: 0px;
	text-align: center;
}

.centerpage
{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	text-align: left;
}
.page_content { padding: 6px 15px 6px 15px; }
#main_content { padding-right: 212px; }
#right_features {
	width: 200px;
	float: right;
	position: relative;
}
#crumbtrail {
	font-weight: 900;
	font-size: 9px;
	color: #a4a4a4;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	margin-bottom: 4px;
}
#page_title {
	font-weight: 900;
	font-size: 16px;
	color: #5C6B48;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
}
.banner { margin-top: 8px; margin-bottom: 12px; }
.hiddenPic { display: none; }


/* Added h2 style Nov 09, 2006 - Ryan A Moore */
h2 {
    FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif;
    background-color: #FFFFFF;
    FONT-SIZE: 18px;
	color: #311c6b;
	margin-top: 8px;
}
/* Added h3 style Nov 09, 2006 - Ryan A Moore */
h3 {
    FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif;
    background-color: #FFFFFF;
    FONT-SIZE: 16px;
	color: #311c6b;
}
/* Added h4 style Nov 13, 2006 - Ryan A Moore */
h4 {
    FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif;
    background-color: #FFFFFF;
    FONT-SIZE: 14px;
	color: #311c6b;
	margin-bottom: 6px;
}
/* Added h5 style Nov 13, 2006 - Ryan A Moore */
h5 {
    FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif;
    background-color: #FFFFFF;
    FONT-SIZE: 12px;
	color: #311c6b;
	margin-bottom: 0px;
}

td
{
    FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif;
    FONT-SIZE: 12px;
    color: #333333;
    font-style: normal;  
}
.contentBody
{
	padding-left:20px;
	padding-right:30px;
	line-height:150%;
}
.contentBody h3 { margin: 0px 0px 8px 0px; }
.contentBody h4 { margin: 0px 0px 6px 0px; }
.content
{
	font-weight: normal;
	font-size: 12px;
	line-height: 17px;
	color: #333333;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}
.contentsmall
{
	font-weight: normal;
	font-size: 12px;
	line-height: 17px;
	color: #333333;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}
.paragraphLight
{
	font-weight: normal;
	font-size: 12px;
	line-height: 17px;
	color: #311C6B;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}

.paragraph
{
	font-weight: 900;
	font-size: 12px;
	line-height: 17px;
	color: #311C6B;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}

.paragraphLarge
{
	font-weight: 900;
	font-size: 16px;
	line-height: 150%;
	color: #311C6B;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}

.pdf_icon {
	border: 0px;
	margin-right: 4px;
}
/*	*************************************	link	*********************************	*/

a:link
{
	/* font-weight: normal;
	font-size: 12px; */
	color: #311C6B;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: underline;
}
a:active
{
	font-weight: normal;
	font-size: 12px;
	color: #311C6B;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: underline;
}
a:visited
{
	font-weight: normal;
	font-size: 12px;
	color: #311C6B;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: underline;
}
a:hover
{
	/* font-weight: normal;
	font-size: 12px; */
	color: #5933C3;
	/*font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: underline; */
}
a.productName:link
{
	font-weight: 900;
	font-size: 13px;
	color: #ffffff;
	font-style: normal;
	letter-spacing: -1px;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}
a.productName:active
{
	font-weight: 900;
	font-size: 13px;
	color: #ffffff;
	font-style: normal;
	letter-spacing: -1px;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}
a.productName:visited
{
	font-weight: 900;
	font-size: 13px;
	color: #ffffff;
	font-style: normal;
	letter-spacing: -1px;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}
a.productName:hover
{
	font-weight: 900;
	font-size: 13px;
	color: #ffffff;
	font-style: normal;
	letter-spacing: -1px;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: underline;
}

a.breadcrumb:link
{
	font-weight: normal;
	font-size: 9px;
	color: #a4a4a4;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	text-decoration: none;
}
a.breadcrumb:active
{
	font-weight: normal;
	font-size: 9px;
	color: #a4a4a4;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	text-decoration: none;
}
a.breadcrumb:visited
{
	font-weight: normal;
	font-size: 9px;
	color: #a4a4a4;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	text-decoration: none;
}
a.breadcrumb:hover
{
	font-weight: normal;
	font-size: 9px;
	color: #a4a4a4;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
}



a.arrows:link
{
	font-weight: normal;
	font-size: 11px;
	color: #A4DFF3;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}
a.arrows:active
{
	font-weight: normal;
	font-size: 11px;
	color: #A4DFF3;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}
a.arrows:visited
{
	font-weight: normal;
	font-size: 11px;
	color: #A4DFF3;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}
a.arrows:hover
{
	font-weight: normal;
	font-size: 11px;
	color: #A4DFF3;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}

a.copyright:link
{
	font-size: 11px;
	color: #166BEB;
	font-weight: normal;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}
a.copyright:active
{
	font-size: 11px;
	color: #166BEB;
	font-weight: normal;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}
a.copyright:visited
{
	font-size: 11px;
	color: #166BEB;
	font-weight: normal;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}
a.copyright:hover
{
	font-size: 11px;
	color: #166BEB;
	font-weight: normal;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: underline;
}

a.submenu:link
{
	font-size: 12px;
	color: #311C6B;
	font-weight: normal;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}
a.submenu:active
{
	font-size: 12px;
	color: #311C6B;
	font-weight: normal;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}
a.submenu:visited
{
	font-size: 12px;
	color: #311C6B;
	font-weight: normal;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}
a.submenu:hover
{
	font-size: 12px;
	color: #311C6B;
	font-weight: normal;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: underline;
}



/*	*************************************	form	*********************************	*/

.txtInput
{
    BORDER-BOTTOM: #ffffff 1px solid;
    BORDER-LEFT: #333333 1px solid;
    BORDER-RIGHT: #ffffff 1px solid;
    BORDER-TOP: #333333 1px solid;
    background-color: #ffffff;
    color: #000000;
    FONT-SIZE: 11px;
    font-style: normal;
    font-weight: normal;
    FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif;
    height: 19px;
}

.submitButton
{
    BORDER-BOTTOM: #333333 1px solid;
    BORDER-LEFT: #ffffff 1px solid;
    BORDER-RIGHT: #333333 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    color: #ffffff;
    background: #4558AD;   
    FONT-SIZE: 11px;
    font-style: normal;
    font-weight: normal;
	FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif;
	height: 19px;
}

            
/*	*************************************	text	*********************************	*/

.spacer1
{
	font-weight: normal;
	font-size: 1px;
	color: #ffffff;
	font-style: normal;
	FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}
.spacer3
{
	font-weight: normal;
	font-size: 3px;
	color: #ffffff;
	font-style: normal;
	FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}
.spacer5
{
	font-weight: normal;
	font-size: 5px;
	color: #ffffff;
	font-style: normal;
	FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}
ul
{
	list-style-position: outside;
	list-style-type: disc;
	margin-bottom: 0px;
	margin-top: 0px;
}
li
{
	list-style-position: outside;
	list-style-type: disc;
	margin-left: -10px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
}

ul.decimal
{
	list-style-position: outside;
	list-style-type: decimal;
	margin-bottom: 0px;
	margin-top: 0px;
}
li.decimal
{
	list-style-position: outside;
	list-style-type: decimal;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 10px;
	margin-right: 0px;	
}
ul.disc
{
	list-style-position: outside;
	list-style-type: disc;
	margin-bottom: 0px;
	margin-top: 10px;
}
li.disc
{
	list-style-position: outside;
	list-style-type: disc;
	margin-left: -10px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
	padding-bottom: 3px;	
}
ul.alfa
{
	list-style-position: outside;
	list-style-type:lower-alpha;
	margin-bottom: 0px;
	margin-top: 0px;
}
li.alfa
{
	list-style-position: outside;
	list-style-type:lower-alpha;
	margin-left: -10px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
	padding-bottom: 3px;	
}
.productList
{
	font-weight: normal;
	font-size: 12px;
	line-height:150%;
	padding-bottom: 10px;
	vertical-align :top ;
	list-style-image: url(../images/bullet.gif); 
	color: #333333;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}
.copyrightTxt
{
	font-weight: normal;
	font-size: 11px;
	color: #c5c5c5;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	background: #E6E6E6;
	text-decoration: none;
}
.copy
{
	font-size: 11px;
	color: #166BEB;
	font-weight: normal;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}

.register
{
	font-weight: 900;
	font-size: 16px;
	color: #ffffff;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 5px;
	background: #96A3BA;
	/*background-image: url(../images/bg_blue.gif);
	background-repeat: repeat-x;*/
}

.compare
{
	font-weight: 900;
	font-size: 15px;
	color: #ffffff;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 5px;
}

.compareTD
{
	font-weight: 900;
	font-size: 22px;
	color: #ffffff;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	background: #96A3BA;
	/*background-image: url(../images/bg_blue.gif);
	background-repeat: repeat-x;*/
}

.submenuTD
{
	font-size: 12px;
	color: #311C6B;
	font-weight: 900;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
}

.breadcrumbTD
{
	font-weight: 900;
	font-size: 9px;
	color: #a4a4a4;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
}

.breadcrumbPageName
{
	font-weight: 900;
	font-size: 16px;
	color: #5C6B48;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
}


/* **************************** Support ********************* */

.supportBanner
{
	
	font-weight: 900;
	font-size: 12px;
	color: #311C6B;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	padding-right: 5px;
	background-color: #e4e4e4;
}

.support
{
	font-weight: normal;
	font-size: 11px;
	color: #333333;
	font-style: normal;
	line-height: 15px;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	background-image: url(../images/bg_support.gif);
	background-repeat: repeat-x;
}

.supportText
{
	font-weight: normal;
	font-size: 11px;
	color: #333333;
	font-style: normal;
	line-height: 15px;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
}

a.supportLink:link
{
	font-weight: normal;
	font-size: 11px;
	color: #311C6B;
	font-style: normal;
	padding-left: 1px;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: underline;
}
a.supportLink:active
{
	font-weight: normal;
	font-size: 11px;
	color: #311C6B;
	font-style: normal;
	padding-left: 1px;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: underline;
}
a.supportLink:visited
{
	font-weight: normal;
	font-size: 11px;
	color: #311C6B;
	font-style: normal;
	padding-left: 1px;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: underline;
}
a.supportLink:hover
{
	font-weight: normal;
	font-size: 11px;
	color: #5933C3;
	font-style: normal;
	padding-left: 1px;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: underline;
}

.supportBlue
{
	color: #311C6B;
}

.supportDiv
{
	padding-top: 7px;
}

/* **************************** Company ********************* */

.contentHeadTableCompany
{
	font-weight: 900;
	font-size: 12px;
	line-height: 17px;
	color: #333333;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	padding-left: 7px;
	padding-bottom: 2px;
	padding-right: 2px;
	border: solid 1px #e6e6e6; 
	text-decoration: none;
	background-color: #EDFBFF;
}

.contentItemTableCompany
{
	font-weight: normal;
	font-size: 12px;
	line-height: 17px;
	color: #333333;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	padding-left: 7px;
	padding-bottom: 2px;
	padding-right: 2px;
	border: solid 1px #e6e6e6; 
	text-decoration: none;
}

.contentTableCompanyBullet
{
	font-weight: normal;
	font-size: 12px;
	line-height: 17px;
	color: #333333;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	padding-bottom: 2px;
	padding-right: 2px;
	border: solid 1px #e6e6e6; 
	text-decoration: none;
}

.contentTable
{
	padding: 5px;
	border: solid 1px #e6e6e6; 
}

.CompanyAlternateColor
{
	background-color: #f8f8f8;
}



/* **************************** Logos ********************* */

.logos
{
	font-weight: 900;
	font-size: 14px;
	color: #311C6B;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	padding-bottom: 6px;
	text-decoration: none;
}

A.logoLink:link
{
	font-weight: normal;
	font-size: 11px;
	line-height: 11px;
	color: #ffffff;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: underline;
}
A.logoLink:active
{
	font-weight: normal;
	font-size: 11px;
	line-height: 11px;
	color: #ffffff;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: underline;
}
A.logoLink:visited
{
	font-weight: normal;
	font-size: 11px;
	line-height: 11px;
	color: #ffffff;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: underline;
}
A.logoLink:hover
{
	font-weight: normal;
	font-size: 11px;
	line-height: 11px;
	color: #00ffff;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: underline;
}




/* **************************** SoundBridge Radio ********************* */

.sbrTitle
{
	font-weight: 900;
	font-size: 14px;
	color: #333333;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	padding-bottom: 6px;
	padding-left: 1px;
	line-height: 150%;
	text-decoration: none;
}
.sbrCopy
{
	font-weight: normal;
	font-size: 12px;
	color: #333333;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	line-height: 150%;
	padding-left: 1px;
	padding-right: 40px;
	text-decoration: none;
}
.sbrCopyTD
{
	font-weight: normal;
	font-size: 12px;
	color: #333333;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	line-height: 20px;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
}

.sbrParagraph
{
	font-weight: 900;
	font-size: 14px;
	color: #311C6B;
	padding-left: 1px;
	padding-bottom: 5px;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}


.sbrSpecsTitle
{
	font-weight: 900;
	font-size: 12px;
	color: #333333;
	padding-left: 1px;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	line-height:  150%;
	text-decoration: none;
}


.sbrSpecsCopy
{
	font-weight: normal;
	font-size: 12px;
	color: #333333;
	padding-left: 1px;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	line-height:  150%;
	text-decoration: none;
}


/* **************************** FAQS ********************* */


A.sectionMenu:link
{
	font-weight: normal;
	font-size: 11px;
	color: #430088;
	font-style: normal;
	padding-left:1px;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}
A.sectionMenu:active
{
	font-weight: normal;
	font-size: 11px;
	color: #430088;
	font-style: normal;
	padding-left:1px;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}
A.sectionMenu:visited
{
	font-weight: normal;
	font-size: 11px;
	color: #430088;
	font-style: normal;
	padding-left:1px;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}
A.sectionMenu:hover
{
	font-weight: normal;
	font-size: 11px;
	color: #430088;
	font-style: normal;
	padding-left:1px;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: underline;
}

.sectionMenuActive
{
	font-weight: 900;
	font-size: 11px;
	color: #5C6B48;
	font-style: normal;
	padding-left:1px;
	background-color: #ECECEC;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
}
A.sectionSubMenu:link
{
	font-weight: normal;
	font-size: 11px;
	color: #311c6b;
	font-style: normal;
	padding-left:1px;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}
A.sectionSubMenu:active
{
	font-weight: normal;
	font-size: 11px;
	color: #311c6b;
	font-style: normal;
	padding-left:1px;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}
A.sectionSubMenu:visited
{
	font-weight: normal;
	font-size: 11px;
	color: #311c6b;
	font-style: normal;
	padding-left:1px;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}
A.sectionSubMenu:hover
{
	font-weight: normal;
	font-size: 11px;
	color: #430088;
	font-style: normal;
	padding-left:1px;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: underline;
}

.sectionSubMenuActive
{
	font-size: 11px;
	color: #5C6B48;
	font-style: normal;
	padding-left:1px;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
}
.faqsBanner
{
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
	color: #ffffff;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	padding-left: 50px;
	padding-right: 40px;
	background-color: #A3B8E1;
	text-decoration: none;
}


/* **************************** Developers ********************* */
.contentDev
{
	font-weight: normal;
	font-size: 12px;
	line-height: 17px;
	color: #333333;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
}	
.contentDevRight
{
	font-weight: normal;
	font-size: 12px;
	line-height: 17px;
	color: #333333;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	padding-left: 0px;
	padding-right: 10px;
	text-decoration: none;
}
.contentDevDark
{
	font-weight: normal;
	font-size: 12px;
	line-height: 17px;
	color: #333333;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	padding-left: 0px;
	padding-right: 10px;
	text-decoration: none;
}
.contentDevLeft
{
	font-weight: normal;
	font-size: 12px;
	line-height: 17px;
	color: #333333;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
	text-decoration: none;
}	
.hrSeparator
{
	border:0;
	width: 100%;
	color: #e6e6e6;
	background-color: #e6e6e6;
	height: 1px;
	margin-top:15px;
	margin-bottom:12px;
}
.hrSeparatorSmall
{
	border:0;
	width: 100%;
	color: #e6e6e6;
	background-color: #e6e6e6;
	height: 1px;
	margin-top:5px;
	margin-bottom:5px;
}
.tdLeftSeparator
{
	height:1px;
	background-color: #FFFFFF;
}
.tdLeftTopCyan
{
	font-weight: 900;
	font-size: 14px;
	color: #311c6b;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	background-color: #a8daec;
	height:38px;
	padding-right:13px;
	padding-left:13px;
	padding-top:10px;
	padding-bottom:10px;
}
.tdLeftTopGreen
{
	font-weight: 900;
	font-size: 14px;
	color: #ffffff;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	background-color: #8bb169;
	height:38px;
	padding-right:13px;
	padding-left:13px;
	padding-top:10px;
	padding-bottom:10px;
}
.tdLeftTopGray
{
	font-weight: 900;
	font-size: 14px;
	color: #ffffff;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	background-color: #8b99b2;
	height:38px;
	padding-right:13px;
	padding-left:13px;
	padding-top:10px;
	padding-bottom:10px;
}
.tdLeftContentCyan
{
	font-weight: normal;
	font-size: 12px;
	color: #333333;
	font-style: normal;
	line-height: 17px;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	padding-right:14px;
	padding-left:14px;
	padding-top:15px;
	padding-bottom:20px;
	background-image: url(../images/bg_cyan.gif);
	background-repeat: repeat-x;
}
.tdLeftContentGreen
{
	font-weight: normal;
	font-size: 12px;
	color: #333333;
	font-style: normal;
	line-height: 17px;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	padding:14px;
	padding-left:14px;
	padding-top:15px;
	padding-bottom:20px;
	background-image: url(../images/bg_green.gif);
	background-repeat: repeat-x;
}
.tdLeftContentGray
{
	font-weight: normal;
	font-size: 12px;
	color: #311c6b;
	font-style: normal;
	line-height: 17px;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	padding-right:14px;
	padding-left:14px;
	padding-top:15px;
	padding-bottom:20px;
	background-image: url(../images/bg_gray_light.gif);
	background-repeat: repeat-x;
}
.tdLeftContentLightGray
{
	font-weight: normal;
	font-size: 12px;
	color: #311c6b;
	font-style: normal;
	line-height: 20px;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	padding-right:14px;
	padding-left:14px;
	padding-top:15px;
	padding-bottom:20px;
	background-image: url(../images/bg_gray_light.jpg);
	background-repeat: repeat-x;
}
.tdLineHeight
{
	line-height: 20px;
}
.tdTxtBold
{
	font-weight: bold;
	font-size: 12px;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
}
.tdTxtBold16
{
	font-weight: bold;
	font-size: 16px;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
}

/* common link class  */
A.lnkCommon:link
{
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: underline;
}
A.lnkCommon:active
{
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: underline;
}
A.lnkCommon:visited
{
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: underline;
}
A.lnkCommon:hover
{
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: underline;
}

A.lnkCommonSmall:link
{
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: underline;
}
A.lnkCommonSmall:active
{
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: underline;
}
A.lnkCommonSmall:visited
{
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: underline;
}
A.lnkCommonSmall:hover
{
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: underline;
}

/* black color */
.colBlack { color: #000000; }
a.colBlack:link { color: #000000; }
a.colBlack:active { color: #000000; }
a.colBlack:visited { color: #000000; }
a.colBlack:hover { color: #5933C3; }
/* yellow color */
.colYellow { color: #faffcf; }
a.colYellow:link { color: #faffcf; }
a.colYellow:active { color: #faffcf; }
a.colYellow:visited { color: #faffcf; }
a.colYellow:hover { color: #5933C3; }
/* white color */
.colWhite { color: #ffffff; }
/* red color */
.colRed { color: #bf0000; }
/* green color */
.colGreen { color:#5c6b48; }
.colGreenBold
{
	color:#311C6B;
	font-weight:bold;
	margin-top:5px;
	margin-bottom:5px;
}
a.colGreenBold:link
{
	color:#311C6B;
	font-weight:bold;
	text-decoration:none;
	margin-top:5px;
	margin-bottom:5px;
}
a.colGreenBold:active
{
	color:#311C6B;
	font-weight:bold;
	text-decoration:none;
	margin-top:5px;
	margin-bottom:5px;
}
A.colGreenBold:visited
{
	color:#311C6B;
	font-weight:bold;
	text-decoration:none;
	margin-top:5px;
	margin-bottom:5px;
}
a.colGreenBold:hover
{
	color:#5c6b48;
	font-weight:bold;
	text-decoration:underline;
	margin-top:5px;
	margin-bottom:5px;
}
.lnkSections
{
	color:#311C6B;
	font-weight:bold;
	text-decoration:underline;
	margin-top:5px;
	margin-bottom:5px;
}
a.lnkSections:link
{
	color:#311C6B;
	font-weight:bold;
	text-decoration:none;
	margin-top:5px;
	margin-bottom:5px;
}
a.lnkSections:active
{
	color:#311C6B;
	font-weight:bold;
	text-decoration:none;
	margin-top:5px;
	margin-bottom:5px;
}
a.lnkSections:visited
{
	color:#311C6B;
	font-weight:bold;
	text-decoration:none;
	margin-top:5px;
	margin-bottom:5px;
}
a.lnkSections:hover
{
	color:#5c6b48;
	font-weight:bold;
	text-decoration:underline;
	margin-top:5px;
	margin-bottom:5px;
}
/* olive color */
.colOlive4 { color: #311c6b; }
.colOlive3 { color: #430088; }
a.colOlive3:link { color: #430088; }
a.colOlive3:active { color: #430088; }
a.colOlive3:visited { color: #430088; }
a.colOlive3:hover { color: #5933C3; }
.colOlive2 { color: #60639b; }
.colOlive { color: #666699; }
a.colOlive:link { color: #666699; }
a.colOlive:active { color: #666699; }
a.colOlive:visited { color: #666699; }
a.colOlive:hover { color: #5933C3; }
/* borders class */
.bordersDarkGray
{
	BORDER-BOTTOM: #999999 1px solid;
    BORDER-LEFT: #999999 1px solid;
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
}
.bordersGray
{
	BORDER-BOTTOM: #cfcfcf 1px solid;
    BORDER-LEFT: #cfcfcf 1px solid;
    BORDER-RIGHT: #cfcfcf 1px solid;
    BORDER-TOP: #cfcfcf 1px solid;
}
.bordersLightGray
{
	BORDER-BOTTOM: #e6e6e6 1px solid;
    BORDER-LEFT: #e6e6e6 1px solid;
    BORDER-RIGHT: #e6e6e6 1px solid;
    BORDER-TOP: #e6e6e6 1px solid;
}
.bordersBtn
{
	BORDER-BOTTOM: #333333 1px solid;
    BORDER-LEFT: #ffffff 1px solid;
    BORDER-RIGHT: #333333 1px solid;
    BORDER-TOP: #ffffff 1px solid;
}
.bordersInput
{
	BORDER-BOTTOM: #ffffff 1px solid;
    BORDER-LEFT: #333333 1px solid;
    BORDER-RIGHT: #ffffff 1px solid;
    BORDER-TOP: #333333 1px solid;
}
.retail_td
{
	BORDER-BOTTOM: #e6e6e6 1px solid;
    BORDER-LEFT: #e6e6e6 1px solid;
    BORDER-RIGHT: #e6e6e6 1px solid;
    BORDER-TOP: #e6e6e6 1px solid;
    height:134px;
}
.retail_copy_td
{
    font-size: 11px;
    color: #000000;
    padding-left: 10px;
}

.ctrlStyle
{
    color: #717171;
    background: #FFFFFF;   
    FONT-SIZE: 11px;
    font-style: normal;
    font-weight: bold;
	FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif;
	height:17px;
}
.ctrlRegisterStyle
{
    color: #717171;
    background: #f8f8f8;   
    FONT-SIZE: 12px;
    font-style: normal;
    font-weight:normal;
	FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif;
}
.ctrlSoftwareStyle
{
    background: #f8f8f8;   
    FONT-SIZE: 12px;
    font-style: normal;
    font-weight:normal;
	FONT-FAMILY: Arial, Helvetica, Verdana, Sans-Serif;
}
.ctrRegisterWidth { width:260px; }
.ctrSoftwareWidth { width:230px; }
.ctrRegisterWidthMed { width:100px; }
.ctrRegisterWidthSmall { width:70px; }
.ctrlMargin { margin-top:3px; }
.hrSimpleSeparator
{
	border:0;
	width: 100%;
	color: #e6e6e6;
	background-color: #e6e6e6;
	height: 1px;
}
.ctrlInternetRadio
{
	margin-bottom:5px;
	margin-right:10px;
	margin-top:7px;
}

.catalogBlue { color: #311C6B; }

.arrow
{
	font-weight: normal;
	font-size: 11px;
	color: #A4DFF3;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
}

.promoArrows
{
	font-weight: normal;
	font-size: 11px;
	color: #A4DFF3;
	font-style: normal;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	text-decoration: none;
	position: relative;
	display: none;	
	left: 213px;
	top: -27px;
}

.supportParagraph
{
	padding-bottom:15px;
	line-height:150%;
}

.supportSmallParagraph
{
	padding-bottom:3px;
	line-height:150%;
}
.leftPadding30px { padding-left:30px; }
.leftPadding15px { padding-left:15px; }
.tradeMark { font-size: 10px; }

/* General page styles */
.support_header {
	height: 120px;
	width: 100%;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	background-color: #A3B8E1;
	margin: 0px 0px 10px 0px;
}
.support_header img {
	float: left;
	margin-right: 40px;
}
.footer {
	margin-top:12px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 0px 25px 0px;
	height: 80px;
	width: 800px;
	text-align: center;
	background-color: #E6E6E6;
	color: #311C6B;
}

/* Product Registration Form Styles */
.registration_form {}
.registration_form .label { background-color: #DDD; padding: 4px 6px 4px 6px; text-align: right; font-weight: bold; }
.registration_form .required { color: #900; }
.registration_pic { width: 310px; text-align: center; }

/* Product Survey Form Styles */
.survey_form {}
.survey_form .label { background-color: #DDD; padding: 4px 6px 4px 6px; text-align: right; font-weight: bold; }
.survey_form .required { color: #900; }
.survey_form div.section { border-bottom: 2px solid #333; font-weight: bold; }
.survey_form td.section { background: #311C6B; color: white; font-weight: bold; padding: 4px 4px 4px 20px; font-size: 16px; }

/* Success/Error Message Styles */
.err { color: red; }
.msg { color: #006600; }
.message { font-size: larger; color: #060; }
.error {font-size: larger; color: #900; }
div.messagebox { 
	font-size: larger; 
	color: #060; 
	border: 1px solid #060; 
	background: #DFD; 
	padding: 8px;
	margin: 12px 0px 12px 0px;
}
div.errorbox { 
	font-size: larger; 
	color: #900; 
	border: 1px solid #900; 
	background:#FDD; 
	padding: 8px;
	margin: 12px 0px 12px 0px;
}

/* Styles for side boxes */
div.grayshadebox {
	font-size: 12px;
	color: #311c6b;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	border: #cfcfcf 1px solid;
	background-image: url(../images/css/bg_gray_light.jpg);
	background-repeat: repeat-x;
	margin-bottom: 8px;
}
div.grayshadebox .content { padding:12px; }
div.greenshadebox {margin-bottom: 8px;}
div.greenshadebox .content{
	font-size: 12px;
	color: #333333;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	background-image: url(../images/css/bg_green.gif);
	background-repeat: repeat-x;
	padding: 12px;
}
div.greenshadebox .title{
	font-weight: 900;
	font-size: 14px;
	color: white;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	background-color: #8bb169;
	padding:12px;
	border-bottom: 1px solid white;
}
div.cyanshadebox {margin-bottom: 8px;}
div.cyanshadebox .content{
	font-size: 12px;
	color: #333333;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	background-image: url(../images/css/bg_cyan.gif);
	background-repeat: repeat-x;
	padding: 12px;
}
div.cyanshadebox .title{
	font-weight: 900;
	font-size: 14px;
	color: #311c6b;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	background-color: #a8daec;
	padding:12px;
	border-bottom: 1px solid white;
}
div.blueslateshadebox {margin-bottom: 8px;}
div.blueslateshadebox .content{
	font-size: 12px;
	color: #ffffff;
	/*color: #311c6b;*/
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	background-image: url(../images/css/bg_gray.gif);
	background-repeat: repeat-x;
	padding: 12px;
}
div.blueslateshadebox .content a { font-weight: bold; color: white; }
div.blueslateshadebox .content a:hover { color: #FFFFCC; }
div.blueslateshadebox .title{
	font-weight: 900;
	font-size: 14px;
	color: #ffffff;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	background-color: #8b99b2;
	padding:12px;
	border-bottom: 1px solid white;
}
.price {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #666699;
	font-weight: bold;
}

/* BANNERS */

/* Support Banner */
.support_banner { 
	border-collapse: collapse; 
	width: 770px; height: 120px; 
	margin-top: 12px; margin-bottom: 12px; 
}
.support_banner td {
	color: white; background-color: #A3B8E1; 
	border-collapse: collapse; 
	padding: 0px; 
}
td.support_banner_text {
	line-height: 1.8;
	padding-left: 48px; padding-right: 48px;
}

.indent {
	padding-left: 12px;
}